<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <meta charset="utf-8">
  <title>Lt. Dan's Shrimpboat!</title>
</head>

<body>

  <div class="container">

    <div class="jumbotron">
      <h1 class="display-3">Welcome to Lt. Dan's Shrimp Shack!</h1>
      <p class="lead">Order from our world-famous menu, or create your own!</p>
    </div>

    <div class="row">
      <h1>Menu:</h1>
      <div class="col-md-6">
        <h3>Mild</h3>
        <div id="mild">
          <ol>
            {{#each menuItems}} {{#unless spicy}}
            <li>
              <button data-id={{this.id}}>Add</button>{{this.shrimp_name}} ${{this.price}} {{this.info}}
            </li>
            {{/unless}} {{/each}}
          </ol>
        </div>
      </div>

      <div class="col-md-6">
        <h3>Hot</h3>
        <div id="hot">
          <ol>
            {{#each menuItems}} {{#if spicy}}
            <li>
              <button data-id={{this.id}}>Add</button>{{this.shrimp_name}} ${{this.price}} {{this.info}}
            </li>
            {{/if}} {{/each}}
          </ol>
        </div>
      </div>


    </div>




    <div class="row">

      <div class="col-md-6">

        <form class="add-order-form">

          <h2> Custom Orders Here! </h2>

          <div class="form-row">
            <div class="form-group col-md-6">
              <label for="input-order">Order</label>
              <input type="text" class="form-control" id="input-order" placeholder="Order">
            </div>
          </div>

          <div class="input-group-prepend">
            <label class="input-group-text" for="inputGroupSelect01">Spiciness</label>
          </div>

          <select class="custom-select" id="spiciness">
            <option value="0">Mild</option>
            <option value="1">Hot</option>
          </select>

          <button type="submit" id="submit-order" class="btn btn-primary">Order</button>
        </form>
      </div>

      <div class="col-md-6">
        <h3>Cart:</h3>
      </div>

    </div>




</body>

</html>
