<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <meta charset="utf-8">
  <title>Lt. Dan's Shrimpshack!</title>

  <link rel="stylesheet" type="text/css" href="/assets/css/styles.css">

</head>

<body>

  <div class="container">

    <div class="jumbotron">
      <h1 class="display-3">Welcome to Lt. Dan's Shrimp Shack!</h1>
      <p class="lead">Order from our world-famous menu, or create your own!</p>
      <a class="btn btn-primary" href="/boss" role="button">Manger Page</a>
    </div>

    <div class="row" id="menu">
      <div>
        <h1>Menu:</h1>
        <div class="col-lg-6">
          <h3>Mild</h3>
          <div id="mild">

            {{#each menuItems}} {{#unless spicy}}
            <div class="row">
              <div class="col-md-2">
                <button class="btn-order" data-id={{this.id}} item="{{this.shrimp_name}}" price={{this.price}}>Add</button></div>
              <div class="col-md-10">
                <div class="menu-item">{{this.shrimp_name}} ${{this.price}} {{this.info}}</div>
              </div>
            </div>
            {{/unless}} {{/each}}

          </div>
        </div>

        <div class="col-lg-6">
          <h3>Hot</h3>
          <div id="hot">
            <ol>
              {{#each menuItems}} {{#if spicy}}
              <div class="row">
                <div class="col-md-2">
                  <button class="btn-order" data-id={{this.id}} item="{{this.shrimp_name}}" price={{this.price}}>Add</button></div>
                <div class="col-md-10">
                  <div class="menu-item">{{this.shrimp_name}} ${{this.price}} {{this.info}}</div>
                </div>
              </div>
              {{/if}} {{/each}}
            </ol>
          </div>
        </div>

      </div>
    </div>




    <div class="row">

      <div class="col-md-6">

        <form class="add-order-form">

          <h2> Custom Orders Here! </h2>

          <div class="form-row">
            <div class="form-group col-md-6">
              <label for="input-order">Order</label>
              <input type="text" class="form-control" id="input-order" placeholder="Order">
            </div>
          </div>

          <div class="input-group-prepend">
            <label class="input-group-text" for="inputGroupSelect01">Spiciness</label>
          </div>

          <select class="custom-select" id="spiciness">
            <option value="0">Mild</option>
            <option value="1">Hot</option>
          </select>

          <button type="submit" id="submit-order" class="btn btn-primary">Order</button>
        </form>
      </div>

      <div class="col-md-6">
        <h3>Cart:</h3>
        <div id="cart">

          <h4>Total</h4>
          <button type="button" id="pay-btn" class="btn btn-primary" data-toggle="modal" data-target="#myModal">Pay</button>
          <p id="total">0.00</p>
        </div>
      </div>

        <div class="notification"><p id="notification-text">Order Up!</p></div>

    </div>


    <!-- Modal -->
    <div class="modal" id="myModal" tabindex="-1" role="dialog">
      <div class="modal-dialog" role="document">
        <div class="modal-content" id="modal-content">
          <div class="modal-header">
            <h2 class="modal-title" id="modal-bill">Your Bill is: $</h2>
          </div>
          <div class="modal-body">
            <h4>We invested in some kind of fruit company and don't need to worry about money anymore. This one's on the house.</h4>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">OK!</button>
          </div>
        </div>
      </div>
    </div>

  </div>
</body>

</html>
